* {
    box-sizing: border-box; /* Adiciona box-sizing para melhor controle de layout */
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e0f7fa; /* Cor de fundo mais suave */
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Preenche a altura total da tela */
}

h1 {
    font-style: oblique;
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
    color: #00796b; /* Cor do texto mais escura */
    margin-bottom: 20px; /* Espaçamento inferior */
    font-size: 2.5rem; /* Tamanho da fonte maior */
}

input {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    border: 2px solid #00796b; /* Borda com cor */
    border-radius: 5px; /* Bordas arredondadas */
    width: 80%; /* Largura do input */
    max-width: 400px; /* Largura máxima */
    margin-bottom: 15px; /* Espaçamento inferior */
    transition: border-color 0.3s ease; /* Transição suave para a borda */
}

input:focus {
    border-color: #004d40; /* Cor da borda ao focar */
    outline: none; /* Remove o contorno padrão */
}

button {
    padding: 15px 30px;
    border-radius: 50px;
    border: none;
    background-color: #ffffff; /* Cor de fundo do botão */
    color: #00796b; /* Cor do texto do botão */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer; /* Muda o cursor para pointer */
    transition: all 0.3s ease; /* Transição suave */
}

button:hover {
    letter-spacing: 2px;
    background-color: #4db6ac; /* Cor de fundo ao passar o mouse */
    color: #fff; /* Cor do texto ao passar o mouse */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Sombra mais intensa */
}

button:active {
    background-color: #00796b; /* Cor de fundo ao clicar */
    color: #fff; /* Cor do texto ao clicar */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra ao clicar */
    transform: translateY(2px); /* Leve movimento para baixo */
    transition: transform 0.1s ease; /* Transição suave para o movimento */
}

h2 {
    text-align: center;
    color: #004d40; /* Cor do texto */
    margin: 20px 0; /* Espaçamento superior e inferior */
}

p {
    text-align: center;
    color: #555; /* Cor do texto mais suave */
    margin: 10px 0; /* Espaçamento superior e inferior */
}
